<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css">
  <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml") | safe }}">
  <script data-goatcounter="https://daniel-raab.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
  {% if current_path == "/" %}<title>{{ config.title }}</title>
  {% elif page.title %}<title>{{ page.title }} | {{ config.title }}</title>
  {% else %}<title>{{ section.title }} | {{ config.title }}</title>{% endif %}
</head>


<body>
<header>
  <h1><a href="/">Daniel Raab</a></h1>
  <nav><ul>
      <li><a href="/posts">posts</a></li>
      <li><a href="/photos">photos</a></li>
      <li><a href="/about">about</a></li>
  </ul></nav>
</header>

<main>
{% block content %} {% endblock %}
</main>

</body>
</html>