{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>
<time>{{ page.date | date(format="%e. %b %Y") }}</time>
{% if page.updated %} <time>(updated: {{ page.updated | date(format="%e. %b %Y") }})</time>{% endif %}
{{ page.content | safe }}
{% endblock content %}