{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>
<div class="gallery">
{% for asset in page.extra.images -%}
  {% set image = resize_image(path=asset, width=400, height=400, op="fill") %}
  <div><a href="{{ get_url(path=asset) }}" target="_blank">
    <img src="{{ image.url }}" />
  </a></div>
{%- endfor %}
</div>
{% endblock content %}