{% extends "base.html" %}

{% block content %}
{% if current_path == "/" %}
  {% set section = get_section(path="posts/_index.md") %}
{% endif %}

<h1 class="title">
  {{ section.title }}
</h1>
<ul class="posts"> 
  {% for page in section.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a><time>{{ page.date | date(format="%e. %b %Y") }}</time></li>
  {% endfor %}
</ul>
{% endblock content %}